<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>circle-grey.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 126}, {55, 55}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {55, 55}}</string>
			<key>sourceSize</key>
			<string>{55, 55}</string>
		</dict>
		<key>circle-red.png</key>
		<dict>
			<key>frame</key>
			<string>{{352, 2}, {55, 55}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {55, 55}}</string>
			<key>sourceSize</key>
			<string>{55, 55}</string>
		</dict>
		<key>circle-red@2x.png</key>
		<dict>
			<key>frame</key>
			<string>{{128, 2}, {110, 110}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 110}}</string>
			<key>sourceSize</key>
			<string>{110, 110}</string>
		</dict>
		<key>circle-yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{409, 2}, {55, 55}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {55, 55}}</string>
			<key>sourceSize</key>
			<string>{55, 55}</string>
		</dict>
		<key>circle-yellow@2x.png</key>
		<dict>
			<key>frame</key>
			<string>{{240, 2}, {110, 110}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 110}}</string>
			<key>sourceSize</key>
			<string>{110, 110}</string>
		</dict>
		<key>marble128.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {124, 122}}</string>
			<key>offset</key>
			<string>{2, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4, 6}, {124, 122}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>marble16.png</key>
		<dict>
			<key>frame</key>
			<string>{{466, 34}, {16, 16}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {16, 16}}</string>
			<key>sourceSize</key>
			<string>{16, 16}</string>
		</dict>
		<key>marble32.png</key>
		<dict>
			<key>frame</key>
			<string>{{466, 2}, {32, 30}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 2}, {32, 30}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>marble48.png</key>
		<dict>
			<key>frame</key>
			<string>{{352, 59}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{48, 48}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>
