<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ball25-aqua.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 396}, {25, 25}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 25}}</string>
			<key>sourceSize</key>
			<string>{25, 25}</string>
		</dict>
		<key>ball25-blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 477}, {25, 25}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 25}}</string>
			<key>sourceSize</key>
			<string>{25, 25}</string>
		</dict>
		<key>ball25-gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 450}, {25, 25}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 25}}</string>
			<key>sourceSize</key>
			<string>{25, 25}</string>
		</dict>
		<key>ball25-green.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 288}, {25, 25}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 25}}</string>
			<key>sourceSize</key>
			<string>{25, 25}</string>
		</dict>
		<key>ball25-lime.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 315}, {25, 25}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 25}}</string>
			<key>sourceSize</key>
			<string>{25, 25}</string>
		</dict>
		<key>ball25-pink.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 369}, {25, 25}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 25}}</string>
			<key>sourceSize</key>
			<string>{25, 25}</string>
		</dict>
		<key>ball25-purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 423}, {25, 25}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 25}}</string>
			<key>sourceSize</key>
			<string>{25, 25}</string>
		</dict>
		<key>ball25-red.png</key>
		<dict>
			<key>frame</key>
			<string>{{395, 485}, {25, 25}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 25}}</string>
			<key>sourceSize</key>
			<string>{25, 25}</string>
		</dict>
		<key>ball25-yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 342}, {25, 25}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {25, 25}}</string>
			<key>sourceSize</key>
			<string>{25, 25}</string>
		</dict>
		<key>ball36-aqua.png</key>
		<dict>
			<key>frame</key>
			<string>{{221, 436}, {36, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 36}}</string>
			<key>sourceSize</key>
			<string>{36, 36}</string>
		</dict>
		<key>ball36-blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 154}, {36, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 36}}</string>
			<key>sourceSize</key>
			<string>{36, 36}</string>
		</dict>
		<key>ball36-gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 116}, {36, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 36}}</string>
			<key>sourceSize</key>
			<string>{36, 36}</string>
		</dict>
		<key>ball36-green.png</key>
		<dict>
			<key>frame</key>
			<string>{{395, 447}, {36, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 36}}</string>
			<key>sourceSize</key>
			<string>{36, 36}</string>
		</dict>
		<key>ball36-lime.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 40}, {36, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 36}}</string>
			<key>sourceSize</key>
			<string>{36, 36}</string>
		</dict>
		<key>ball36-pink.png</key>
		<dict>
			<key>frame</key>
			<string>{{395, 409}, {36, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 36}}</string>
			<key>sourceSize</key>
			<string>{36, 36}</string>
		</dict>
		<key>ball36-purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 2}, {36, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 36}}</string>
			<key>sourceSize</key>
			<string>{36, 36}</string>
		</dict>
		<key>ball36-red.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 192}, {36, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 36}}</string>
			<key>sourceSize</key>
			<string>{36, 36}</string>
		</dict>
		<key>ball36-yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 78}, {36, 36}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 36}}</string>
			<key>sourceSize</key>
			<string>{36, 36}</string>
		</dict>
		<key>ball48-aqua.png</key>
		<dict>
			<key>frame</key>
			<string>{{268, 439}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{48, 48}</string>
		</dict>
		<key>ball48-blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{268, 389}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{48, 48}</string>
		</dict>
		<key>ball48-gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{395, 59}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{48, 48}</string>
		</dict>
		<key>ball48-green.png</key>
		<dict>
			<key>frame</key>
			<string>{{268, 339}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{48, 48}</string>
		</dict>
		<key>ball48-lime.png</key>
		<dict>
			<key>frame</key>
			<string>{{395, 109}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{48, 48}</string>
		</dict>
		<key>ball48-pink.png</key>
		<dict>
			<key>frame</key>
			<string>{{395, 159}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{48, 48}</string>
		</dict>
		<key>ball48-purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{395, 209}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{48, 48}</string>
		</dict>
		<key>ball48-red.png</key>
		<dict>
			<key>frame</key>
			<string>{{395, 359}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{48, 48}</string>
		</dict>
		<key>ball48-silver.png</key>
		<dict>
			<key>frame</key>
			<string>{{395, 259}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{48, 48}</string>
		</dict>
		<key>ball48-yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{395, 309}, {48, 48}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {48, 48}}</string>
			<key>sourceSize</key>
			<string>{48, 48}</string>
		</dict>
		<key>ball71-aqua.png</key>
		<dict>
			<key>frame</key>
			<string>{{322, 148}, {71, 71}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {71, 71}}</string>
			<key>sourceSize</key>
			<string>{71, 71}</string>
		</dict>
		<key>ball71-blue.png</key>
		<dict>
			<key>frame</key>
			<string>{{75, 436}, {71, 71}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {71, 71}}</string>
			<key>sourceSize</key>
			<string>{71, 71}</string>
		</dict>
		<key>ball71-gold.png</key>
		<dict>
			<key>frame</key>
			<string>{{322, 367}, {71, 71}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {71, 71}}</string>
			<key>sourceSize</key>
			<string>{71, 71}</string>
		</dict>
		<key>ball71-green.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 436}, {71, 71}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {71, 71}}</string>
			<key>sourceSize</key>
			<string>{71, 71}</string>
		</dict>
		<key>ball71-lime.png</key>
		<dict>
			<key>frame</key>
			<string>{{322, 2}, {71, 71}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {71, 71}}</string>
			<key>sourceSize</key>
			<string>{71, 71}</string>
		</dict>
		<key>ball71-pink.png</key>
		<dict>
			<key>frame</key>
			<string>{{322, 294}, {71, 71}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {71, 71}}</string>
			<key>sourceSize</key>
			<string>{71, 71}</string>
		</dict>
		<key>ball71-purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{322, 75}, {71, 71}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {71, 71}}</string>
			<key>sourceSize</key>
			<string>{71, 71}</string>
		</dict>
		<key>ball71-red.png</key>
		<dict>
			<key>frame</key>
			<string>{{148, 436}, {71, 71}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {71, 71}}</string>
			<key>sourceSize</key>
			<string>{71, 71}</string>
		</dict>
		<key>ball71-yellow.png</key>
		<dict>
			<key>frame</key>
			<string>{{322, 221}, {71, 71}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {71, 71}}</string>
			<key>sourceSize</key>
			<string>{71, 71}</string>
		</dict>
		<key>button_continue.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 111}, {318, 109}}</string>
			<key>offset</key>
			<string>{0, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 8}, {318, 109}}</string>
			<key>sourceSize</key>
			<string>{320, 121}</string>
		</dict>
		<key>button_gameover.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {318, 107}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 4}, {318, 107}}</string>
			<key>sourceSize</key>
			<string>{320, 115}</string>
		</dict>
		<key>button_quit.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 339}, {264, 95}}</string>
			<key>offset</key>
			<string>{-5, -2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{23, 8}, {264, 95}}</string>
			<key>sourceSize</key>
			<string>{320, 107}</string>
		</dict>
		<key>button_tryagain.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 222}, {318, 115}}</string>
			<key>offset</key>
			<string>{1, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 3}, {318, 115}}</string>
			<key>sourceSize</key>
			<string>{320, 121}</string>
		</dict>
		<key>circle-yellow-for48.png</key>
		<dict>
			<key>frame</key>
			<string>{{322, 440}, {70, 70}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {70, 70}}</string>
			<key>sourceSize</key>
			<string>{70, 70}</string>
		</dict>
		<key>heart28.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 260}, {26, 26}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {26, 26}}</string>
			<key>sourceSize</key>
			<string>{28, 28}</string>
		</dict>
		<key>pauseclock32.png</key>
		<dict>
			<key>frame</key>
			<string>{{221, 474}, {32, 32}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>sourceSize</key>
			<string>{32, 32}</string>
		</dict>
		<key>skull.png</key>
		<dict>
			<key>frame</key>
			<string>{{395, 2}, {54, 55}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {54, 55}}</string>
			<key>sourceSize</key>
			<string>{54, 55}</string>
		</dict>
		<key>trophy28.png</key>
		<dict>
			<key>frame</key>
			<string>{{451, 230}, {26, 28}}</string>
			<key>offset</key>
			<string>{1, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2, 0}, {26, 28}}</string>
			<key>sourceSize</key>
			<string>{28, 28}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>
