<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>button_achievements.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 299}, {182, 65}}</string>
			<key>offset</key>
			<string>{1, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 2}, {182, 65}}</string>
			<key>sourceSize</key>
			<string>{190, 69}</string>
		</dict>
		<key>button_continuegame.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 210}, {236, 87}}</string>
			<key>offset</key>
			<string>{3, -4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35, 16}, {236, 87}}</string>
			<key>sourceSize</key>
			<string>{300, 111}</string>
		</dict>
		<key>button_instructions.png</key>
		<dict>
			<key>frame</key>
			<string>{{240, 210}, {214, 69}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 0}, {214, 69}}</string>
			<key>sourceSize</key>
			<string>{224, 69}</string>
		</dict>
		<key>button_leaderboard.png</key>
		<dict>
			<key>frame</key>
			<string>{{186, 299}, {181, 65}}</string>
			<key>offset</key>
			<string>{1, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 2}, {181, 65}}</string>
			<key>sourceSize</key>
			<string>{189, 69}</string>
		</dict>
		<key>button_moregames.png</key>
		<dict>
			<key>frame</key>
			<string>{{369, 299}, {102, 51}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {102, 51}}</string>
			<key>sourceSize</key>
			<string>{104, 53}</string>
		</dict>
		<key>button_newgame.png</key>
		<dict>
			<key>frame</key>
			<string>{{104, 106}, {238, 85}}</string>
			<key>offset</key>
			<string>{3, -3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34, 16}, {238, 85}}</string>
			<key>sourceSize</key>
			<string>{300, 111}</string>
		</dict>
		<key>button_options.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 366}, {189, 58}}</string>
			<key>offset</key>
			<string>{1, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 0}, {189, 58}}</string>
			<key>sourceSize</key>
			<string>{197, 58}</string>
		</dict>
		<key>button_playgame.png</key>
		<dict>
			<key>frame</key>
			<string>{{104, 2}, {310, 102}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 4}, {310, 102}}</string>
			<key>sourceSize</key>
			<string>{320, 108}</string>
		</dict>
		<key>button_returnarrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{344, 106}, {55, 59}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5, 5}, {45, 49}}</string>
			<key>sourceSize</key>
			<string>{55, 59}</string>
		</dict>
		<key>button_tryfreenow.png</key>
		<dict>
			<key>frame</key>
			<string>{{193, 366}, {256, 46}}</string>
			<key>offset</key>
			<string>{0, 5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {256, 46}}</string>
			<key>sourceSize</key>
			<string>{256, 56}</string>
		</dict>
		<key>sprite-hand.png</key>
		<dict>
			<key>frame</key>
			<string>{{2, 2}, {100, 206}}</string>
			<key>offset</key>
			<string>{0, -0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {100, 206}}</string>
			<key>sourceSize</key>
			<string>{100, 206}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>
